/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

html, body, .container, #map {
  height: 100%;
}

#map {
  margin: 2em;
}

#message-box {
  position: absolute;
  max-width: 240px;
  right: 10px;
  top: 10px;
}